<!DOCTYPE html>
<html lang="en"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<nav class="light-green" layout:fragment="custom_page_navbar" role="navigation">
	<div class="nav-wrapper container"><a class="brand-logo" href="#" id="logo-container">Boot Mock Server</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="/__admin/http/apis/page">Http Mock</a></li>
		</ul>

		<ul class="sidenav" id="nav-mobile">
			<li><a href="/__admin/http/apis/page">Http Mock</a></li>
		</ul>
		<a class="sidenav-trigger" data-target="nav-mobile" href="#"><i class="material-icons">menu</i></a>
	</div>
</nav>
a
</body>
</html>